html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.wrap {
    margin: 10px auto;
    width: 100%;
    max-width: 700px;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;

    box-sizing: border-box;
    border: 1px solid;
}

.carousel__prev,
.carousel__next {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 50px;
    height: 50px;
    background: #fff;
    transform: translateY(-50%) translateZ(0);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
    border: none;
    font-size: 31px;
}

.carousel__next {
    left: auto;
    right: 20px;
}

.carousel__wrap {
    display: flex;
    transition: transform .5s;
    will-change: transform;
    position: relative;
    z-index: 1;
    height: 100%;
}

.carousel__item {
    flex: 0 0 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}