<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="wrap">
        <div class="carousel">
            <button class="carousel__prev">⇦</button>
            <button class="carousel__next">⇨</button>
            <div class="carousel__wrap">
                {% for photo in photos %}
                    <div class="carousel__item" data-id="{{photo.id}}">
                        <div class="carousel__item-profile">
                            <img class="carousel__img" src="{{photo.href}}"/>
                            <div>{{ photo.title }}</div>
                            {% if photo.summary %}<div>{{photo.summary}}</div>{% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>